n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "updates": ["message", "callback_query"],
        "messageTypes": ["text_message"]
      },
      "id": "telegramTrigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Отримуємо дані з тригера\nconst item = $input.all()[0].json;\n\n// Визначаємо тип оновлення\nconst isCallback = !!item.callback_query;\nconst message = isCallback ? item.callback_query.message : item.message;\nconst text = isCallback ? item.callback_query.data : message.text;\n\nreturn {\n    json: {\n        chatId: message.chat.id,\n        userId: isCallback ? item.callback_query.from.id : message.from.id,\n        text,\n        isCallback,\n        originalMessage: message,\n        callbackQueryId: isCallback ? item.callback_query.id : null\n    }\n};"
      },
      "id": "parseUpdate",
      "name": "Parse Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.text}}",
              "operation": "contains",
              "value2": "/start"
            }
          ]
        }
      },
      "id": "commandRouter",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.text}}",
              "operation": "regex",
              "value2": "^(astrology|numerology|tarot|main_menu)$"
            }
          ]
        }
      },
      "id": "menuRouter",
      "name": "Menu Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.text}}",
              "operation": "regex",
              "value2": "^zodiac:"
            }
          ]
        }
      },
      "id": "zodiacRouter",
      "name": "Zodiac Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.text}}",
              "operation": "regex",
              "value2": "^period:"
            }
          ]
        }
      },
      "id": "periodRouter",
      "name": "Period Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "const menu = require('./telegram-menu');\nconst mainMenu = menu.getMainMenu();\n\nreturn {\n    json: {\n        chatId: $input.all()[0].json.chatId,\n        text: 'Вітаю! Я ваш персональний астролог і нумеролог. Оберіть розділ, який вас цікавить:',\n        reply_markup: JSON.stringify(mainMenu)\n    }\n};"
      },
      "id": "prepareWelcome",
      "name": "Prepare Welcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "const menu = require('./telegram-menu');\nconst astrologyMenu = menu.getAstrologyMenu();\n\nreturn {\n    json: {\n        chatId: $input.all()[0].json.chatId,\n        text: 'Оберіть ваш знак зодіаку:',\n        reply_markup: JSON.stringify(astrologyMenu)\n    }\n};"
      },
      "id": "prepareAstrologyMenu",
      "name": "Prepare Astrology Menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "const menu = require('./telegram-menu');\nconst zodiacSign = $input.all()[0].json.text.split(':')[1];\nconst periodMenu = menu.getPeriodMenu(zodiacSign);\n\nreturn {\n    json: {\n        chatId: $input.all()[0].json.chatId,\n        text: `Оберіть період для прогнозу для знаку ${zodiacSign}:`,\n        reply_markup: JSON.stringify(periodMenu)\n    }\n};"
      },
      "id": "preparePeriodMenu",
      "name": "Prepare Period Menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "operation": "sendMessage",
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.text}}",
        "additionalFields": {
          "reply_markup": "={{$json.reply_markup}}"
        }
      },
      "id": "sendMessage",
      "name": "Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "operation": "answerCallbackQuery",
        "queryId": "={{$json.callbackQueryId}}",
        "options": {
          "showAlert": false
        }
      },
      "id": "answerCallback",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Update": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menu Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Prepare Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Router": {
      "main": [
        [
          {
            "node": "Prepare Astrology Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zodiac Router": {
      "main": [
        [
          {
            "node": "Prepare Period Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Welcome": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Astrology Menu": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Period Menu": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
} 
